.spinner {
  width: 120px;
  height: 120px;
  border: 12px solid #f3f3f3;
  border-top: 12px solid #8a2b06;
  border-radius: 100%;
  animation: spin 2s linear infinite;
  margin: auto;
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
